* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "FavoritMonoTrialStd";
  font-display: swap;
  src: url("../fonts/FavoritMonoTrialStd-Regular.woff2") format("woff2"), url("../fonts/FavoritMonoTrialStd-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FavoritMonoTrialStd";
  font-display: swap;
  src: url("../fonts/FavoritMonoTrialStd-Medium.woff2") format("woff2"), url("../fonts/FavoritMonoTrialStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FavoritMonoTrialStd";
  font-display: swap;
  src: url("../fonts/FavoritMonoTrialStd-Bold.woff2") format("woff2"), url("../fonts/FavoritMonoTrialStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --app-height: 100%;
  --white: #fff;
  --black: #272727;
  --green: #4CBE57;
  --blue: #2D68FF;
  --red: #FF4D00;
  --bg: url("../img/loading.gif") 50% no-repeat;
}

body {
  font-family: "FavoritMonoTrialStd", sans-serif;
  font-weight: 400;
  color: var(--black);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1338px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.main::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-40%, 80%);
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--red);
  filter: blur(100px);
  opacity: 0.3;
}

.main::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(20%, -40%);
  width: 45%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #1AAF83;
  filter: blur(200px);
  opacity: 0.3;
}

.main__body {
  flex: 1 1 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__logo {
  max-width: 610px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.main__logo img {
  max-width: 100%;
  height: auto;
}

.main__info {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 570px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.main__btn {
  position: relative;
  z-index: 2;
}

.btn_orange {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red);
  border-radius: 16px;
  padding: 24px;
  color: var(--white);
  max-width: 274px;
  width: 100%;
  font-weight: 700;
  margin-bottom: 30px;
  box-shadow: 0 10px 60px rgba(186, 57, 1, 0);
  transition: all 0.5s ease;
}

.btn_orange svg {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  stroke: var(--white);
  stroke-width: 1.5px;
}

.btn_white {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1.5px solid var(--black);
  padding: 18px;
  max-width: 274px;
  width: 100%;
  color: var(--black);
  font-weight: 500;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

.btn_white svg {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  fill: var(--red);
}

.decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 65px));
  width: 1255px;
  aspect-ratio: 1255/566;
  z-index: 1;
}

.decor__circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.decor__circles img {
  width: 100%;
  height: auto;
}

.decor__coin-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-20%, -50%);
  width: 404px;
  aspect-ratio: 404/372;
}

.decor__coin-left img {
  width: 100%;
  height: auto;
}

.decor__coin-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 517px;
  aspect-ratio: 517/466;
  transform: translate(15%, 10%);
}

.decor__coin-right img {
  width: 100%;
  height: auto;
}

.decor__coin-mini {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  aspect-ratio: 130/124;
  transform: translate(-100%, 30%);
}

.decor__coin-mini img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .decor {
    left: unset;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translate(0, -50%);
    min-height: 790px;
  }

  .decor__circles {
    width: 1255px;
    aspect-ratio: 1255/566;
    left: unset;
    right: 0;
  }

  .decor__coin-left {
    top: 0;
    transform: translate(-50%, -20%);
  }

  .decor__coin-right {
    transform: translate(50%, 50%);
  }

  .decor__coin-mini {
    transform: translate(0, 30%);
  }
}

@media (any-hover: hover) {
  .btn_orange:hover {
    box-shadow: 0 10px 60px rgba(186, 57, 1, 0.6);
  }

  .btn_white:hover {
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.4);
  }
}